.post-input-area {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;

    height: 100%;
    background-color: var(--background-color);
    resize: vertical;

    font-size: larger;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.post-input-preview {
    border: none;
    border-radius: 0.5rem;
    outline: none;
    width: 100%;
    height: 100%;

    padding: 0.7rem;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}


.float-right {
    float: right;
}

.big {
    font-weight: 800;
    font-size: large;
}

.standard-button {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

}

.standard-button:hover {
    text-decoration: underline;
    font-weight: bold;
}

.standard-button:active {
    color: var(--accent);
}
